/* Si l'écran est plus petit que 1024px, on change la disposition des éléments */
@media only screen and (max-width: 1024px) {
	.movie-section {
	  flex-direction: column;
	
	.movie-img {
	  width: 100%;
	  margin-bottom: 1rem;
	}
  }
}

.movie-section {
	display: flex;
	justify-content: center;
  	gap: 2%;
	margin: auto;
  	margin-top: 1.5%;
	width: 70%;
}

.movie-img {
	flex: 33% 2 1;
	aspect-ratio: 2 / 3;

	/** rounded border */
	border-radius: 5px;
}

.movie-infos {
	flex: 66% 3 1;

	color: var(--purple);
}

/** FORM */
form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.form-group {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.form-group > label {
	font-size: 1.2rem;
	color: var(--purple);
}

.form-group > input {
	padding: 0.5rem;
	border-radius: 5px;
	border: 1px solid var(--yellow);

	&:focus {
		outline: none;
		border: 1px solid var(--red);
	}
}

.btn {
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 5px;
	background-color: var(--purple);
	color: var(--yellow);
	font-size: 1.2rem;
	cursor: pointer;

	&:hover {
		background-color: var(--red);
		color: var(--yellow);
	}
}